.back_button_container {
  margin-top: 20px;
  padding: 10px 0;
  width: fit-content;
  border-width: 1px;
  border-color: #d3d3d3;
  border-style: solid;
  font-family: monospace;
  font-size: 80px;
  text-decoration: none;
  height: 30px;
  line-height: 20px;
  overflow: hidden;
}

.back_button_container a {
  text-decoration: none;
  padding: 0 10px;
}
