.results_container {
  padding: 0 20px;
}

.result_container {
  display: flex;
  padding: 10px 20px;
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 1px;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
}

.result_info {
  flex: 1;
  text-transform: capitalize;
}
